/* Importing all components files */

@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:300,400,700&display=swap");
@import url("components/container.css");
@import url("components/avatar.css");
@import url(components/button.css);
@import url(components/banner.css);
@import url(components/card.css);


/* General fonts and colours */

body {
  font-family:'Roboto Slab', serif;
  font-size: 18px;
  color: rgb(30, 30, 30);
  margin: 0px;
  background-color: rgb(250,250,250);
}

h1,h2,h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
}

.meetings-iframe-container {
  margin-top: 80px;
}
