.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
  border-radius: 6px;
  margin: 10px;
  flex-basis: 280px;
  flex-grow: 1;
}

.card h3 {
  flex-grow: 1;
  padding-left: 20px;
  font-size: 18px;
}

.card img{
  border-radius: 6px;
  width: 150px;
}
